h1 {
    color: rgb(100,100,0);
    font-family: "Bell MT";
}

h2 {
    color: cornflowerblue;
    font-family: "Bell MT";
}
.center {
    text-align: center;
}
header h1 {
    margin: 0;

    font-size: 2em;
    width: 100%;

}
nav ol {
    list-style: none;
    padding: 0;
    justify-content: center;
    text-align: center;
}